.parameter {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.parameter input {
    text-align: center;
}

.box{
    border-radius: 20px;
    padding: 5px;
}

.check_button_card{
    text-align: center;
    margin: 25px;
}

.check_button{
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    
}

.result_mp_box {
    border: 2px solid black;
    border-radius: 20px;


}