.parameter {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.parameter input {
    text-align: center;
    background-color: white;
    color: black;
}

.box{
    border-radius: 20px;
    padding: 5px;
}

.check_button_card{
    text-align: center;
    margin: 25px;
}

.check_button{
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    
}

.given_data_box {
    border: 2px solid black;
    border-radius: 20px;
}

.results_box{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    min-height: 80vh;
}